.DS_Store
.next/
.tsup/
node_modules/
*.log
dist/
.turbo/
out/
public/media/albums/gallery-thumbnails/
public/media/albums/galleryfun-thumbnails/
public/media/albums/head-optimized/

.vercel/
.idea/
.eslintcache
.env

tsup.config.bundled*
tsconfig.tsbuildinfo
tsconfig.vitest-temp.json
_pagefind/
docs/public/sitemap.xml
